* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: normal;
}

.layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(images/weather-bg.jpeg) no-repeat center;
  background-size: cover;
  opacity: .5;
  z-index: -1;
}

#root {
  z-index: 1;
  text-align: center;
}

h1.logo {
  margin-bottom: 20px;
  font-size: 7.2rem;
  color: rgb(103, 195, 231);
  text-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  border: none;
  border-bottom: 2px solid skyblue;
  background: none;
  color: #fff;
  outline: none;
  font-size: 2.5rem;
  font-family: 'Poppins';
  padding: 4px 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

input[type=text]::placeholder {
  color: #ddd;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  border: none;
  background-color: rgba(173, 216, 230, .8);
  border-radius: 15px;
  font-family: 'Poppins';
  font-size: 2.2rem;
  cursor: pointer;
  color: #444;
  transition: .2s;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}

button:hover {
  background-color: rgba(173, 216, 230, 1);
}

button[disabled] {
  background-color: gray;
  cursor: default;
}

.city-not-found {
  display: inline-block;
  margin-top: 40px;
  font-size: 1.2rem;
  color: white;
  border: 1px solid darkred;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 10px;
}

.weather-result {
  font-size: 2rem;
}

table {
  margin: 30px auto 50px;
}

table,
tr,
td,
th {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .1);
  text-align: left;
}

tr:hover {
  background-color: rgba(255, 255, 255, .5);
}

.updating-btn.active {
  color: darkgreen;
  transform: rotate(180deg);
}

.updating-btn {
  color: darkred;
  margin-left: 10px;
  cursor: pointer;
  opacity: .7;
  transition: .2s;
}

.updating-btn:hover {
  opacity: 1;
}